.container {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$boxShadow: 2px;
$boxShadowActive: 1px;
$margin: 8px;

.btn {
  position: relative;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1em;
  letter-spacing: 0.045em;
  box-shadow: $boxShadow $boxShadow 4px 0px black;
  margin: calc(#{$margin} - #{$boxShadow}) $margin $margin
    calc(#{$margin} - #{$boxShadow});
  user-select: none;
}

.btn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.btn svg rect {
  stroke-width: 4;
  stroke-dasharray: 23, 999999;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.btn span {
  padding: 1rem;
  background: rgb(255, 130, 130);
  background: -moz-linear-gradient(
    left,
    rgba(255, 130, 130, 1) 0%,
    rgba(225, 120, 237, 1) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 130, 130, 1) 0%,
    rgba(225, 120, 237, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 130, 130, 1) 0%,
    rgba(225, 120, 237, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.anime:hover svg rect {
  stroke-width: 6;
  stroke-dasharray: 1500, 0;
  stroke-dashoffset: 0;
}

.anime:active svg rect {
  stroke-width: 6;
  stroke-dasharray: 1500, 0;
  stroke-dashoffset: 0;
}

.anime:active {
  top: 1px;
  left: 1px;
  box-shadow: 1px 1px 0px 0px black;
}

.disabled {
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
  cursor: default;
  pointer-events: none;
  margin: $margin;
}

.disabled > span {
  background: none;
  -webkit-text-fill-color: unset;
}
