html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  display: block;
}

// @media only screen and (orientation: portrait) and (max-width: 768px) {
//   html {
//     -webkit-transform: rotate(90deg);
//     -moz-transform: rotate(90deg);
//     -o-transform: rotate(90deg);
//     -ms-transform: rotate(90deg);
//     transform: rotate(90deg);
//     width: 100vh;
//     height: 100vw;
//     // transform: rotate(90deg);
//     // transform-origin: left top;
//     // width: 100vh;
//     // overflow-x: hidden;
//     // position: absolute;
//     // top: 100%;
//     // left: 0;
//   }
//   .game-container {
//     display: block;
//     width: 100vh;
//     height: 100vw;
//   }
// }

// @media only screen and (orientation: landscape) {
//   //   html {
//   //     -webkit-transform: rotate(0deg);
//   //     -moz-transform: rotate(0deg);
//   //     -o-transform: rotate(0deg);
//   //     -ms-transform: rotate(0deg);
//   //     transform: rotate(0deg);
//   //   }

// }

.game-container {
  display: block;
  width: 100vw;
  height: 100vh;
}

.game-element {
  width: 100%;
  height: 100%;
}
